* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
    135deg,
    rgba(8, 35, 181, 1) 10%,
    rgba(15, 217, 194, 0.9752275910364145) 47%,
    rgba(8, 35, 181, 1) 86%
  );
}
button {
  cursor: pointer;
}
